import { type FC } from 'react'

interface {{pascalCase name}}Props {
	title: string
}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({ title }) => {
	return (
		<div>
			<h1 className="text-4xl">{title}</h1>
		</div>
	)
}
